---
import ThemeToggleButton from './ThemeToggleButton';
import { GITHUB_REPO_URL, COMMUNITY_INVITE_URL, GITHUB_SPONSOR_URL } from '../../consts';

type Props = {
	editHref: string;
};

const { editHref } = Astro.props;
const showMoreSection = Boolean(COMMUNITY_INVITE_URL) || Boolean(GITHUB_SPONSOR_URL);
---

{showMoreSection && <h2 class="heading">More</h2>}
<ul>
	{
		GITHUB_REPO_URL && (
			<li class={`header-link depth-2`}>
				<a href={GITHUB_REPO_URL} target="_blank">
					<svg
						aria-hidden="true"
						focusable="false"
						data-prefix="fas"
						data-icon="comment-alt"
						class="svg-inline--fa fa-comment-alt fa-w-16"
						role="img"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 512 512"
						height="1em"
						width="1.5em"
					>
						<path
							fill="currentColor"
							d="M392.8 1.2c-17-4.9-34.7 5-39.6 22l-128 448c-4.9 17 5 34.7 22 39.6s34.7-5 39.6-22l128-448c4.9-17-5-34.7-22-39.6zm80.6 120.1c-12.5 12.5-12.5 32.8 0 45.3L562.7 256l-89.4 89.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l112-112c12.5-12.5 12.5-32.8 0-45.3l-112-112c-12.5-12.5-32.8-12.5-45.3 0zm-306.7 0c-12.5-12.5-32.8-12.5-45.3 0l-112 112c-12.5 12.5-12.5 32.8 0 45.3l112 112c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256l89.4-89.4c12.5-12.5 12.5-32.8 0-45.3z"
						/>
					</svg>
					<span>View code</span>
				</a>
			</li>
		)
	}
	{
		editHref && (
			<li class={`header-link depth-2`}>
				<a class="edit-on-github" href={editHref} target="_blank">
					<svg
						aria-hidden="true"
						focusable="false"
						data-prefix="fas"
						data-icon="pen"
						class="svg-inline--fa fa-pen fa-w-16"
						role="img"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 512 512"
						height="1em"
						width="1.5em"
					>
						<path
							fill="currentColor"
							d="M290.74 93.24l128.02 128.02-277.99 277.99-114.14 12.6C11.35 513.54-1.56 500.62.14 485.34l12.7-114.22 277.9-277.88zm207.2-19.06l-60.11-60.11c-18.75-18.75-49.16-18.75-67.91 0l-56.55 56.55 128.02 128.02 56.55-56.55c18.75-18.76 18.75-49.16 0-67.91z"
						/>
					</svg>
					<span>Edit this page</span>
				</a>
			</li>
		)
	}
	{
		COMMUNITY_INVITE_URL && (
			<li class={`header-link depth-2`}>
				<a href={COMMUNITY_INVITE_URL} target="_blank">
					<svg
						aria-hidden="true"
						focusable="false"
						data-prefix="fas"
						data-icon="comment-alt"
						class="svg-inline--fa fa-comment-alt fa-w-16"
						role="img"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 512 512"
						height="1em"
						width="1.5em"
					>
						<path
							fill="currentColor"
							d="M448 0H64C28.7 0 0 28.7 0 64v288c0 35.3 28.7 64 64 64h96v84c0 9.8 11.2 15.5 19.1 9.7L304 416h144c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64z"
						/>
					</svg>
					<span>Join our community</span>
				</a>
			</li>
		)
	}
	{
		GITHUB_SPONSOR_URL && (
			<li class={`header-link depth-2`}>
				<a href={GITHUB_SPONSOR_URL} target="_blank">
					<svg
						aria-hidden="true"
						focusable="false"
						data-prefix="fas"
						data-icon="comment-alt"
						class="svg-inline--fa fa-comment-alt fa-w-16"
						role="img"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 512 512"
						height="1em"
						width="1.5em"
					>
						<path
							fill="currentColor"
							d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"
						/>
					</svg>
					<span>Sponsor me</span>
				</a>
			</li>
		)
	}
</ul>
<div style="margin: 2rem 0; text-align: center;">
	<ThemeToggleButton client:visible />
</div>

<style>
	.edit-on-github {
		text-decoration: none;
		font: inherit;
		color: inherit;
		font-size: 1rem;
	}
</style>
