.gist {
    position: relative;

    .gist-meta {
        background-color: var(--gist-meta-background-color) !important;
            color: var(--gist-copy-button-color) !important;

        a {
            color: var(--gist-copy-button-color) !important;
        }
    }

    .gist-file {
        border: 1px solid var(--gist-border-color) !important;
        margin-bottom: 0 !important;
    }

    .gist-data, .gist-file {
        border-bottom: 1px solid var(--gist-border-color) !important;
    }

    .gist-data {
        table, tbody, tr, td {
            background-color: var(--gist-data-background-color) !important;
        }
    }

    .blob-code-inner {
        color: var(--theme-text) !important;

        .pl-kos, .pl-smi {
            color: var(--theme-text);
        }
    }

    button {
        background-color: transparent;
        border-color: transparent;
        border-radius: 5px;
        border-style: solid;
        border-width: 2px;
        cursor: pointer;
        font-size: 12px;
        font-weight: bold;
        outline: none;
        padding: 8px;
        position: absolute;
        right: 8px;
        text-decoration: none;
        top: 8px;
        transition: all .2s ease-in-out;

        path {
            fill: transparent;
            transition: all .2s ease-in-out;
        }

        &:hover {
            border-color: var(--gist-copy-button-color);
        }
    }

    &:hover {
        button {
            background-color: rgba(black, .3);

            path {
                fill: var(--gist-copy-button-color);
            }

            &:focus {
                path {
                    fill: var(--gist-copy-highlight-color) !important;
                    border-color: var(--gist-copy-highlight-color);
                }
            }
        }
    }
}