---
type Props = {
};
---

<footer>
	<p translate='no'>©{new Date().getFullYear()} Stratis Dermanoutsos</p>
</footer>

<style>
	footer {
		margin-top: auto;
		padding: 1rem;
		text-align: center;
		border-top: 3px solid var(--theme-divider);
	}
</style>
